body {
    background-color: black;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
}
div.post{
    margin: auto;
    margin-top: 120px;
    background-color: whitesmoke;
    width: 500px;
    height: 665px;
}

div.superior{
    height: 60px;
    display: flex;
    align-items:center;
}

div.logo1{
    font-size: 30px;
    margin-left: 8px;
    margin-top: 0px;
    padding-right: 5px;
}

div.puntitos{
    font-size: 35px;
    margin-left: 340px;
    margin-top: 0px;
    flex-direction: row-reverse;
}

div.titulo{
    font-size: 20px;
    margin-top: 4px;
}

img {
    width: 100%;
    height: 400px;
    margin: 0px auto;
    padding: 10px 0px;
}
div.feedback{
    margin: auto;
    margin-left: 8px;
    font-size: 35px;
    padding: 0px 0px 0px 4px
}
div.feedback i.fa-heart {
    margin-right: 10px;
}
div.feedback i.fa-comment {
    margin-right: 10px;
}
div.feedback i.fa-bookmark {
    margin-left: 310px;
}
div.likes{
    margin-left: 8px;
    margin-right: 8px;
    padding: 0px 0px 0px 8px
}